<!DOCTYPE HTML>
<html ng-app="Hashi">
  <head>
    <title>Hashi IRC</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="css/hashi.css" media="screen, handheld" />
    <link rel="stylesheet" type="text/css" href="css/large.css" media="screen  and (min-width: 40.5em)" />
    <link href="https://fonts.googleapis.com/css?family=Ubuntu+Mono" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top" ng-controller="NavigationController">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a href="#/network" class="brand" ng-class="{active: routeIs('/network')}">Hashi</a>
          <div class="nav-collapse">
            <ul class="nav">
	      <li ng-repeat="network in networks"><a href="#/network/{{network.hostname}}">{{network.hostname}}</a></li>
            </ul>
	    <ul class="nav pull-right">
	      <li ng-show="email == null">
		<img id="browserid" src="https://browserid.org/i/sign_in_blue.png" ng-click="login()"/>
	      </li>
	      <li class="dropdown" ng-show="email != null">
		<a id="useremail" class="dropdown-toggle" href="#" data-toggle="dropdown">{{email}}<b class="caret"></b></a>
		<ul id="userdropdown" class="dropdown-menu">
		  <li><a href ng-click="logout()">Logout</a></li>
		</ul>
	      </li>
	    </ul>
	  </div>
        </div>
      </div>
    </div>

    <div class="container-fluid" ng-view />

    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular-resource.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular-cookies.min.js"></script>
    <script type="text/javascript" src="//login.persona.org/include.js"></script>
    <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/hashi.js"></script>
    <script type="text/javascript" src="js/controllers.js"></script>
    <script type="text/javascript" src="js/services.js"></script>
    <script type="text/javascript" src="js/filters.js"></script>
  </body>
</html>
